<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PriceSystom</key>
	<array>
		<dict>
			<key>name</key>
			<string>堂吃</string>
			<key>group</key>
			<array>
				<dict>
					<key>name</key>
					<string>面类</string>
					<key>dishes</key>
					<array>
						<dict>
							<key>name</key>
							<string>红烧羊肉面</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>20</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>白切羊肉面</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>20</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>白切羊肚面</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>20</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>红烧羊肉拌面</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>21</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>白切羊肉拌面</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>21</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊杂面</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>15</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊杂拌面</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>16</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>汤类</string>
					<key>dishes</key>
					<array>
						<dict>
							<key>name</key>
							<string>羊肉粉丝汤</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>20</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊杂粉丝汤</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>20</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊血粉丝汤</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>15</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊肉汤</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>20</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊杂汤</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>20</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊血汤</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>白切类</string>
					<key>dishes</key>
					<array>
						<dict>
							<key>name</key>
							<string>白切羊肉</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>85</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>白切羊肚</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>85</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>红烧羊肉</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>75</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊头肉</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>70</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊蝎子(小)</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>88</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊蝎子(大)</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>108</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊蛋</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊心</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>80</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊舌</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>85</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊脚</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>45</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊肝</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>60</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊肺</string>
							<key>unit</key>
							<string>斤</string>
							<key>price</key>
							<integer>60</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊眼睛</string>
							<key>unit</key>
							<string>只</string>
							<key>price</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊脑</string>
							<key>unit</key>
							<string>付</string>
							<key>price</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊鞭(小）</string>
							<key>unit</key>
							<string>根</string>
							<key>price</key>
							<integer>20</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊鞭(大)</string>
							<key>unit</key>
							<string>根</string>
							<key>price</key>
							<integer>25</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊腰</string>
							<key>unit</key>
							<string>只</string>
							<key>price</key>
							<integer>8</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>炒菜类</string>
					<key>dishes</key>
					<array>
						<dict>
							<key>name</key>
							<string>大蒜炒羊肚</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>40</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>大蒜炒羊杂</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>30</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>大蒜炒羊肉</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>40</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>大蒜炒血</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>25</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>青椒炒羊心</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>35</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>青椒羊肚丝</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>40</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>青椒炒羊肝</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>30</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>青椒炒羊杂</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>30</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>另加大蒜</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>炒时令蔬菜</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>小炒类</string>
					<key>dishes</key>
					<array>
						<dict>
							<key>name</key>
							<string>番茄炒蛋</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>15</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>青椒炒蛋</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>15</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>大蒜炒蛋</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>15</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>青椒香干</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>大蒜百叶</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>黄豆芽油豆腐</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>酸辣白菜</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>皮蛋豆腐</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>拌黄瓜</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>锅仔类</string>
					<key>dishes</key>
					<array>
						<dict>
							<key>name</key>
							<string>红烧锅仔(大)</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>100</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>红烧锅仔(小)</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>80</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊肚锅仔(大)</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>100</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊肚锅仔(小)</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>80</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>白切锅仔(大)</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>100</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>白切锅仔(小)</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>80</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊杂锅仔(大)</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊杂锅仔(小)</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>70</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>锅底</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>15</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>下酒菜</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>羊血</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>另加白菜</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>另加粉丝</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>酒精</string>
							<key>unit</key>
							<string>份</string>
							<key>price</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
